---
import MainHead from "../layouts/MainHead.astro";
import Layout from "../layouts/Layout.astro";
import { getAllProjects } from "../lib/api";
const projects = await getAllProjects();
---

<div class="projects">{JSON.stringify(projects)}</div>

<ul>
  {
    projects.map((project) => (
      <li>
        <img src={project.mainImage} alt={projects.title} />
        <a href={`/posts/${project.slug.current}`}>
          <h3 class="project-title">{project.title}</h3>
          <p>{project.children.description}</p>
        </a>
      </li>
    ))
  }
</ul>
