---
const { title, description } = Astro.props;
import { getImage } from "astro:assets";
import faviconSrc from "../images/favicon.png";
import faviconSvgSrc from "../images/warnocklogo.svg";
import { ViewTransitions } from "astro:transitions";

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="index" />

  <title>{title}</title>
  <meta name="description" content={description} />
  <ViewTransitions />

  <link
    rel="icon"
    type="image/svg"
    sizes="32X32"
    href="../images/favicon.png"
  />
  <!-- ligthgallery styles -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/css/lightgallery-bundle.css"
    integrity="sha256-WR+ulqwZ5yV4YeuSWti+kDOFoK25M84m9GSmAtRXZPU= sha384-vvV3kNxHjN8AEovmXzpf4E0jSHvPYEMfeDE2+ICOjwInHn6RXeV1NEHbiGwQcFfR sha512-lQWNPVtPmeO0RBuGJ0uOv8uKjJSJ6+XI6HuKBfLK90mKGIgW/sCzs0vHyC1csWeG71sFsKM2u097lhMRe2BGtw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link rel="icon" href="../../dist/_astro/favicon.png" sizes="32x32" />
  <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
  <link rel="apple-touch-icon" href={appleTouchIcon.src} />
  <link rel="mask-icon" href={faviconSvg} />
  <link rel="manifest" href="/manifest.json" />
  <link rel="manifest" href="manifest.webmanifest" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gst atic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe.min.css"
    integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <script
    async
    src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>

  <!-- <link
    rel="preload"
    type="text/javascript"
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
  /> -->

  <script
    is:inline
    src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"
  ></script>

  <!-- <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe-lightbox.esm.min.js"
    integrity="sha512-Z5y5T62siZB4wxN80Bfmi4QJpZVPKYGAQM1q3XoaUjrzj0ZaJ9W2w5oGF6byXLYQGn/Ytj3CntKdBkKryglHdA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script> -->


</head>
